<div class="header-content">
  <div class="header">
    <h1>Mi Biblioteca</h1>
  </div>

  <div class="icons">
    <img
      src="https://cdn-icons-png.flaticon.com/256/9799/9799881.png"
      alt="icon1"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/256/7138/7138158.png"
      alt="icon2"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/256/4359/4359640.png"
      alt="icon3"
    />

    <img
      id="home"
      src="https://cdn-icons-png.flaticon.com/128/3388/3388885.png"
      alt="icon4"
    />
  </div>
</div>
<hr />
