<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Estado</th>
        <th>Libro Prestado</th>
        <th>Fecha de Devolución</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of presentation">
        <td>{{ p.first_name }}</td>
        <td>{{ p.last_name }}</td>
        <td>
          <span
            class="status-circle"
            [ngClass]="{
              active: p.account_status === 'active',
              suspended: p.account_status === 'suspended'
            }"
          ></span>
        </td>
        <td>{{ p.title }}</td>
        <td>{{ p.return_date }}</td>
      </tr>
    </tbody>
  </table>
</div>
