.table-container {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #1565c0;
  color: white;
  font-size: 16px;
}

tr:hover {
  background: #f1f1f1;
}

.status-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.active {
  background: #4caf50;
}

.suspended {
  background: #ff9800;
}
