<div class="page-content">
  <div class="menu">
    <div class="menu-left">
      <button class="Btn" (click)="openModal()">
        <div class="sign">+</div>
      </button>
      <p>Nuevo Libro</p>
    </div>

    <books-form
      [isOpen]="isModalOpen"
      [title]="'Añadir un nuevo libro'"
      (close)="closeModal()"
    >
    </books-form>

    <div class="menu-rigth">
      <book-search></book-search>
    </div>
  </div>

  <div class="books" *ngFor="let book of books">
    <card-book [book]="book"></card-book>
  </div>

  <back-to-top></back-to-top>
</div>
