<div
  class="card"
  [ngClass]="{
    active: accountStatus === 'active',
    suspended: accountStatus === 'suspended'
  }"
>
  <h2>{{ userName }}</h2>
  <p>
    Inventario:
    <strong>{{
      accountStatus === "active" ? "Disponible" : "No disponible"
    }}</strong>
  </p>
  <button (click)="openModal()" [disabled]="accountStatus !== 'active'">
    Prestar
  </button>
</div>
<return-date
  (close)="closeModal()"
  [id_book]="id_book"
  [id_reader]="id_reader"
  [title]="'Fecha de devolución del libro'"
  [isOpen]="isModalOpen"
></return-date>
